name: Test

on:
  push:
    branches:
      - main
      - develop

  pull_request:
    branches:
      - '**'

  workflow_dispatch:

jobs:
  test:
    name: Automated Code Review
    runs-on: macos-15
    timeout-minutes: 10
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PR_NUMBER: ${{ github.event.number }}
    steps:
      - uses: actions/checkout@v4.1.1

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true

      - run: bundle exec fastlane code_review
